@{
  Layout = "_Layout";
}
@model SweetTooth.Models.Flavor
<h2>Are you sure you want to delete this?</h2>
@Html.Display("Name"): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index", null,  new { @class = "btn btn-primary btn-large" } )