@{
  Layout = "_Layout";
}

@using SweetTooth.Models;
@model IEnumerable<SweetTooth.Models.Flavor>

<h1 class="text-center">Flavors</h1>

<p class="text-center">@Html.ActionLink("Add new Flavor", "Create", "Flavors", null,  new { @class = "btn btn-dark btn-large" } )</p>

@if (Model.Any())
{
  <div class="row flavors">
    @foreach (Flavor flavor in Model)
    {
      <div class="col-md-4 flavorCol">
        <div class="card card-default flavor">
            <div class="card-title text-center">
              <h4>@flavor.Name</h4>
            </div>
            @Html.ActionLink("Details", "Details", new { id = flavor.FlavorId }, new {@class = "btn btn-dark btn-block"})
        </div>
      </div>
    } 
  </div>
}
else 
{
  <p>No flavors have been added</p>
}